include components/head.pug
block content
    body
        include components/Header.pug       
        section.mb-3
            .container
                h1.text-center.mb-4 WHO WE ARE
                .row
                    .col-md-5
                        div #[img(src='/images/body_pic.png', alt="", class='img-fluid mb-2')]
                    .col-md-7
                        div
                           each item in masasu
                                each i in item.about
                                    p #{i}
        section.jumbotron.text-center
            .container
                .row.justify-content-center
                    .col-md-8
                        h3 VISION
                        each item in masasu
                            p.mb-4 #{item.vision}
                        h3 MISSION
                        each item in masasu
                            p #{item.mission}
        
        section
            .container
                .about-card.mb-3
                    .row.justify-content-center
                        .col-md-5 #[img(src="/images/body_pic.png" ,  alt="",class='img-fluid mb-4')]
                        .col-md-5
                            h3 OUR CORE VALUES
                            p The values by which we conduct our business include:
                            ul
                                each item in masasu
                                    each i in item.values
                                        li #{i}
                .about-card.mb-3
                    .row.justify-content-center
                        .col-md-5.ord-md-1 #[img(src="/images/body_pic.png" ,  alt="",class='img-fluid mb-4')]
                        .col-md-5.ord-md-2
                            h3  POLICY STATEMENT
                            each item in masasu
                                p #{item.policy}
        include components/footer.pug
        include components/script.pug        
